{{#if login}}
<span class='sq-welcome'>Welcome </span><span class='sq-login'>{{login}}</span> {{#if logout}}<a href="#" class="sq-logout" data-i18n="button-logout">logout</a>{{/if}}
{{else}}
<a href="#" class="sq-signin">sign-in</a>
{{/if}}
